In [10]:
import pandas as pd
import numpy as np

from scipy import stats

from scipy.stats import pearsonr
from statsmodels.sandbox.stats.multicomp import multipletests

In [3]:
# answer_01 - incorrect
answer_01="sravn_eff + loc_diffs"

In [7]:
classif_data=pd.read_csv("AUCs.txt",sep="\t")

In [8]:
classif_data.head()

                Unnamed: 0   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0           adult (sample)  0.763   0.768    0.771      0.798
1            breast cancer  0.599   0.591    0.590      0.569
2  breast cancer wisconsin  0.954   0.971    0.968      0.967
3                      cmc  0.628   0.661    0.654      0.657
4               ionosphere  0.882   0.888    0.886      0.898

In [25]:
p_list=[]
for i in range(1,4):
    first_col=classif_data.iloc[:,i]
    for j in range(i+1,5):
        second_col=classif_data.iloc[:,j] 
        w, p = stats.wilcoxon(first_col,second_col)
        print(p," i=",i," j=",j)
        p_list.append(p)

0.01075713311978963  i= 1  j= 2
0.861262330095348  i= 1  j= 3
0.015906444101703374  i= 1  j= 4
0.046332729793395394  i= 2  j= 3
0.3278256758446406  i= 2  j= 4
0.022909099354356588  i= 3  j= 4

In [24]:
# answer_02
answer_02="4.5 & (4.5+m)"
# answer_03
answer_03=4
# answer_04
answer_04="m"

In [27]:
#help(stats.wilcoxon)

In [28]:
p_list

[0.01075713311978963,
 0.861262330095348,
 0.015906444101703374,
 0.046332729793395394,
 0.3278256758446406,
 0.022909099354356588]

In [29]:
reject, p_corrected, a1, a2 = multipletests(p_list, 
                                            alpha = 0.05, 
                                            method = 'holm')

In [30]:
p_corrected

array([0.0645428 , 0.86126233, 0.07953222, 0.13899819, 0.65565135,
       0.0916364 ])

In [31]:
# answer_05
answer_05=0

In [32]:
reject, p_corrected, a1, a2 = multipletests(p_list, 
                                            alpha = 0.05, 
                                            method = 'fdr_bh')

In [33]:
p_corrected

array([0.0458182 , 0.86126233, 0.0458182 , 0.06949909, 0.39339081,
       0.0458182 ])

In [34]:
# answer_06
answer_06=3

In [35]:
# answer_07
answer_07="non-correct"
# answer_08 - incorrect
answer_08="zakr_glaz"