In [1]:
import numpy as np
import pandas as pd

In [4]:
water_data=pd.read_csv("water.txt",sep="\t")

In [5]:
water_data

   location           town  mortality  hardness
0     South           Bath       1247       105
1     North     Birkenhead       1668        17
2     South     Birmingham       1466         5
3     North      Blackburn       1800        14
4     North      Blackpool       1609        18
..      ...            ...        ...       ...
56    South        Walsall       1527        60
57    South  West Bromwich       1627        53
58    South       West Ham       1486       122
59    South  Wolverhampton       1485        81
60    North           York       1378        71

[61 rows x 4 columns]

In [8]:
sub_data=water_data[["mortality","hardness"]]

In [14]:
sub_data.corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [15]:
# answer_01
answer_01=-0.6548

In [16]:
sub_data.corr('spearman') #'spearman'

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [17]:
# answer_02
answer_02=-0.6317

In [18]:
#help(sub_data.corr())

In [30]:
#mean_session_value_data=my_stat.groupby(my_stat.group,as_index=False). \
#agg({'session_value': 'mean'}).rename(columns={'session_value':'mean_session_value'})

In [29]:
water_data.groupby(water_data.location,as_index=True).corr()

                    mortality  hardness
location
North    mortality   1.000000 -0.368598
         hardness   -0.368598  1.000000
South    mortality   1.000000 -0.602153
         hardness   -0.602153  1.000000

In [32]:
water_data.groupby(water_data.location,as_index=False).corr()

             mortality  hardness
0 mortality   1.000000 -0.368598
  hardness   -0.368598  1.000000
1 mortality   1.000000 -0.602153
  hardness   -0.602153  1.000000

In [31]:
# answer_03
answer_03=-0.3686

In [27]:
#help(pd.DataFrame.groupby)

In [33]:
a=203
b=239
c=718
d=515

In [34]:
mcc=(a*d-b*c)/(np.sqrt((a+b)*(a+c)*(b+d)*(c+d)))

In [35]:
mcc

-0.10900237458678963

In [36]:
# answer_04
answer_04=-0.109

In [37]:
from scipy.stats import chi2_contingency

In [38]:
help(chi2_contingency)

Help on function chi2_contingency in module scipy.stats.contingency:

chi2_contingency(observed, correction=True, lambda_=None)
    Chi-square test of independence of variables in a contingency table.

    This function computes the chi-square statistic and p-value for the
    hypothesis test of independence of the observed frequencies in the
    contingency table [1]_ `observed`.  The expected frequencies are computed
    based on the marginal sums under the assumption of independence; see
    `scipy.stats.contingency.expected_freq`.  The number of degrees of
    freedom is (expressed using numpy functions and attributes)::

        dof = observed.size - sum(observed.shape) + observed.ndim - 1


    Parameters
    ----------
    observed : array_like
        The contingency table. The table contains the observed frequencies
        (i.e. number of occurrences) in each category.  In the two-dimensional
        case, the table is often described as an "R x C table".
    correction : bool, optional
        If True, *and* the degrees of freedom is 1, apply Yates' correction
        for continuity.  The effect of the correction is to adjust each
        observed value by 0.5 towards the corresponding expected value.
    lambda_ : float or str, optional.
        By default, the statistic computed in this test is Pearson's
        chi-squared statistic [2]_.  `lambda_` allows a statistic from the
        Cressie-Read power divergence family [3]_ to be used instead.  See
        `power_divergence` for details.

    Returns
    -------
    chi2 : float
        The test statistic.
    p : float
        The p-value of the test
    dof : int
        Degrees of freedom
    expected : ndarray, same shape as `observed`
        The expected frequencies, based on the marginal sums of the table.

    See Also
    --------
    contingency.expected_freq
    fisher_exact
    chisquare
    power_divergence

    Notes
    -----
    An often quoted guideline for the validity of this calculation is that
    the test should be used only if the observed and expected frequencies
    in each cell are at least 5.

    This is a test for the independence of different categories of a
    population. The test is only meaningful when the dimension of
    `observed` is two or more.  Applying the test to a one-dimensional
    table will always result in `expected` equal to `observed` and a
    chi-square statistic equal to 0.

    This function does not handle masked arrays, because the calculation
    does not make sense with missing values.

    Like stats.chisquare, this function computes a chi-square statistic;
    the convenience this function provides is to figure out the expected
    frequencies and degrees of freedom from the given contingency table.
    If these were already known, and if the Yates' correction was not
    required, one could use stats.chisquare.  That is, if one calls::

        chi2, p, dof, ex = chi2_contingency(obs, correction=False)

    then the following is true::

        (chi2, p) == stats.chisquare(obs.ravel(), f_exp=ex.ravel(),
                                     ddof=obs.size - 1 - dof)

    The `lambda_` argument was added in version 0.13.0 of scipy.

    References
    ----------
    .. [1] "Contingency table",
           https://en.wikipedia.org/wiki/Contingency_table
    .. [2] "Pearson's chi-squared test",
           https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test
    .. [3] Cressie, N. and Read, T. R. C., "Multinomial Goodness-of-Fit
           Tests", J. Royal Stat. Soc. Series B, Vol. 46, No. 3 (1984),
           pp. 440-464.

    Examples
    --------
    A two-way example (2 x 3):

    >>> from scipy.stats import chi2_contingency
    >>> obs = np.array([[10, 10, 20], [20, 20, 20]])
    >>> chi2_contingency(obs)
    (2.7777777777777777,
     0.24935220877729619,
     2,
     array([[ 12.,  12.,  16.],
            [ 18.,  18.,  24.]]))

    Perform the test using the log-likelihood ratio (i.e. the "G-test")
    instead of Pearson's chi-squared statistic.

    >>> g, p, dof, expctd = chi2_contingency(obs, lambda_="log-likelihood")
    >>> g, p
    (2.7688587616781319, 0.25046668010954165)

    A four-way example (2 x 2 x 2 x 2):

    >>> obs = np.array(
    ...     [[[[12, 17],
    ...        [11, 16]],
    ...       [[11, 12],
    ...        [15, 16]]],
    ...      [[[23, 15],
    ...        [30, 22]],
    ...       [[14, 17],
    ...        [15, 16]]]])
    >>> chi2_contingency(obs)
    (8.7584514426741897,
     0.64417725029295503,
     11,
     array([[[[ 14.15462386,  14.15462386],
              [ 16.49423111,  16.49423111]],
             [[ 11.2461395 ,  11.2461395 ],
              [ 13.10500554,  13.10500554]]],
            [[[ 19.5591166 ,  19.5591166 ],
              [ 22.79202844,  22.79202844]],
             [[ 15.54012004,  15.54012004],
              [ 18.10873492,  18.10873492]]]]))

In [39]:
chi2_contingency(np.array([[a,b],[c,d]]))

(19.40753078854304,
 1.0558987006638725e-05,
 1,
 array([[243.03402985, 198.96597015],
        [677.96597015, 555.03402985]]))

In [65]:
# answer_05
answer_05=1 #1.055e-05 => 1
answer_05_2=5 #1.055e-05 => 5

In [43]:
# dependent

In [41]:
def proportions_diff_confint_rel(sample1, sample2, alpha = 0.05):
    z = scipy.stats.norm.ppf(1 - alpha / 2.)
    sample = list(zip(sample1, sample2))
    n = len(sample)
        
    f = sum([1 if (x[0] == 1 and x[1] == 0) else 0 for x in sample])
    g = sum([1 if (x[0] == 0 and x[1] == 1) else 0 for x in sample])
    
    left_boundary = float(f - g) / n  - z * np.sqrt(float((f + g)) / n**2 - float((f - g)**2) / n**3)
    right_boundary = float(f - g) / n  + z * np.sqrt(float((f + g)) / n**2 - float((f - g)**2) / n**3)
    return (left_boundary, right_boundary)

In [42]:
def proportions_diff_z_stat_rel(sample1, sample2):
    sample = list(zip(sample1, sample2))
    n = len(sample)
    
    f = sum([1 if (x[0] == 1 and x[1] == 0) else 0 for x in sample])
    g = sum([1 if (x[0] == 0 and x[1] == 1) else 0 for x in sample])
    
    return float(f - g) / np.sqrt(f + g - float((f - g)**2) / n )

In [44]:
# independent

In [52]:
import scipy

In [49]:
def proportions_diff_confint_ind(a,b,c,d, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)
    
    p1 = float(a) / (a+b)
    p2 = float(c) / (c+d)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ (a+b) + p2 * (1 - p2)/ (c+d))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ (a+b) + p2 * (1 - p2)/ (c+d))
    
    return (left_boundary, right_boundary)

In [50]:
def proportions_diff_z_stat_ind(a,b,c,d):
    n1 = (a+b)
    n2 = (c+d)
    
    p1 = float(a) / n1
    p2 = float(c) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [47]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [53]:
print("95%% confidence interval for a difference between proportions: [%f, %f]" %\
      proportions_diff_confint_ind(a,b,c,d))

95% confidence interval for a difference between proportions: [-0.177045, -0.069042]

In [54]:
print("p-value: %f" % proportions_diff_z_test(proportions_diff_z_stat_ind(a,b,c,d)))

p-value: 0.000008

In [55]:
# answer_06 - all incorrect
answer_06=-0.177
answer_06_2=0.0690
# answer_07
answer_07=8 #8e-06 => 8
answer_07_2=6 #8e-06 => 6

In [56]:
happy_table=np.array([[197,111,33],[382,685,331],[110,342,333]])

In [57]:
happy_table.shape

(3, 3)

In [58]:
chi2_contingency(happy_table)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

In [59]:
# answer_08
answer_08=293.6831
# answer_09
answer_09=2 #2e-62 => 2
answer_09_2=62 #2e-62 => 62

In [66]:
happy_table.sum()

2524

In [67]:
v_cramer=np.sqrt(chi2_contingency(happy_table)[0]/(happy_table.sum()*(3-1)))

In [68]:
v_cramer

0.2412013934500338

In [64]:
# answer_10
answer_10=4.0393
answer_10_2=0.2412